*{
    
    margin: 0 auto;
    align-items: center;
    padding: 0.5rem;
    font-family: 'Poppins';
}
body{
    background-image: url("assets/images/background.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    max-width: 100%;
    max-height: 60rem;

}
.name{
    font-weight: bold;
    font-style: italic;
    font-size: 40px;
    text-align: center;
}
#welcome{
    font-weight: lighter;
    text-align: center;
    color: grey;
}
#log{
    font-size: 35px;
    text-align: center;
    font-weight: bolder;
    color: black;
}
.form{
    background-image: -moz-linear-gradient(0,0,0,0.4),url("assets/images/loginbgd.jpeg");
    border: 3px solid #f1f1f1;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgb(233, 188, 233);
    width: 50rem;
}
  span>input[type=text], input[type=password] {
    width: 80%;
    padding: 12px 20px;
    margin: 0 auto;
    display: inline-block;
    border: none;
    box-sizing: border-box;
    border-bottom: 1px solid;
  }
  button{
    background-color: rgb(9, 196, 243);
    color: white;
    padding: 5px 15px;
    border: none;
    cursor: pointer;
    width: 30%;
    font-weight: bolder;
    font-size: 30px;
    border-radius: 8px;
    margin-left: 4rem;
    margin-right: 7rem;
    margin-top: 1rem;
  }
  button:hover {
    opacity: 0.8;
    background-color: rgb(0, 119, 255);
  }
  .imgcontainer {
    text-align: center;
    margin: 0 auto;
  }
  .topimage{
    width: 40%;
    border-radius: 5%;
  }
  .container {
    padding: 20px;
    align-items: left;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    justify-content: space-between;
  }
  span.reset {
    padding-top: 16px;
    color: rgb(9, 196, 243);
    float: right;
  }
  @media screen and (max-width: 300px) {
    span.reset {
      display: block;
      float: none;
    }
  }
  .last a{
    color: blue;
    font-size: small;
    font-weight: lighter;
    float: right;
    text-decoration: none;
  }
  #checkbox{
    float: left;
  }
  .lowercontainer a{
    color: blue;
    text-decoration: none;
  }
  .lowercontainer a:hover{
    color: black;
    text-decoration: underline;
  }
  .last a:hover{
    color: black;
    font-weight: light;
    text-decoration: underline;
  }
  header{
    padding-top: 2em;
    padding-bottom: 2em;
    border-bottom: 1px solid #ddd;
    display: flex;
    align-items: center;
    background-color:  rgb(233, 188, 233);
  }
  .prod-head{
    padding-bottom: 2em;
    padding-top: 0em;
  }
  footer{
    background-color: #4c055e;
    color: #fff;
    padding: 30px 50px;
    width: 100%;
}

.bottom a{
    color: inherit;
    text-decoration: none;
    display: block;
}

.row .col-1-4{
    width: 100%;
}

.row .col-1b-4{
    width: 100%;
}

.row .col-1b-4 p{
    padding-right: 30px;
    text-align: left;
}

.row .col4-1-3{
    background-color: white;
    margin-right: 50px;
    padding: 30px;
    border-radius: 20px;
}

#bottom-row {
    padding-right: 150px;
    padding-left: 150px;
}
.prod-head{
    padding-bottom: 2rem;
    padding-top: 0em;
}

.header-text{
    font-weight: 800;
    padding-left: 150px;
}

.logo-text h3{
    margin: 1em;
    font-size: 2rem;
}

.logo-text a{
    text-decoration: underline;
    color: #202020;
    font-family: 'Oleo Script', cursive;
    font-size: 1.5em;
}

.nav-bar{
    margin: 0 auto;
}

.nav-bar a:hover{
    font-weight: 500;
    text-decoration: none;
    display: inline-block;
    color: #202020;
    
}

.nav-bar a:not(:last-child){
    margin-right: 1rem;
}

.nav-bar a.active{
    color: #4c055e;
    font-weight: 700;
}

.purple-btn{
    background-color: #4c055e;
    color: #fff;
    border: none;
    padding: .75rem 1rem;
    border-radius: .25rem;
    text-decoration: none;
}

#logo-btn {
    margin-right: 150px;
}

.purple-btn a{
    text-decoration: none;
    color: inherit;
}

.purple-btn i{
    padding-right: 20px;

}
.row a{
    display: flex;
    flex-direction: row;
    align-items: center;
    color: white;
    text-decoration: none;
}
.row{
    display: flex;
    flex-direction: row;
}
/*.col-1b-4{
    font-size: 3rem;
    display: flex;
}*/
.row a:hover{
    text-decoration: underline;
}
.logo-text{
    display: flex;
    flex-direction: row;
    font-size: 5rem;
}
.icons {
    color: rgb(255, 255, 255);
    display: flex;
    width: 20%;
    justify-content: space-between;
    padding-top: 0;
    margin-top: .3em;
    

}
.icons i{
    justify-content: space-evenly;
    padding: .3em;
}
.col-1b-4{
  align-items: flex-start;
}

.altani-txt{
  font-size: 3rem;
}